/* Main Content Background */
.main-content { background-color:#47b663; } 
.main-content2 { background-color:#47b663; border-bottom:4px solid #36a051; } 

/* Slider Pagination*/
.pagi { background-color:#36a051; }
#nav { background:url(../../img/skins/pagi-3.png) no-repeat; }

/* Titles Span*/
 h3 span { color:#47b663; }
 
/* Features Title Hover */
.featu:hover h1 { color:#47b663; }

/* Zlayout */
.z-txt p.subtitles { color:#47b663; }
.zlayout2 { background-color:#47b663;}

/* Buttons */
.bt3 {  background:url(../../img/skins/button-green.png) no-repeat; }

/* Testimonials Hover */
.testimonials .span4:hover .testi-head p { background-color:#47b663; }
#nav2 a.activeSlide { background-color:#47b663; }

/* Footer */
.footer { border-top:4px solid #36a051; background-color:#47b663; }

/* Pricing Subpage  Active Tab */
.tabs-nav .ui-tabs-active a { background-color:#47b663;  color:#e0e0e0; }
.ph   {  background-color:#47b663;  }

/* Contact Subpage */
.cont a { color:#47b663; }
input.input-submit { background-color:#47b663; }